<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NorthHost - Сменить пароль</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>ul.nav{
                margin-left: 0px;
                padding-left: 15%;
                list-style: none;
            }
            .nav li {
                float: left;
            }
    </style>
</head>
<body>
<header>
    <ul class="nav">
        <li><img class="logo"
                 src="/static/img/logo.png"
                 width=50 height=50>
        </li>
        <li><h1>
            orthHost
        </h1></li>
    </ul>
</header>
<h1>Смена пароля</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.old_password.label }}<br>
        {{ form.old_password(class="form-control", type="password") }}<br>
        {% for error in form.old_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
</body>
</html>