<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NorthHost - Скачать файл</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>ul.nav{
                margin-left: 0px;
                padding-left: 15%;
                list-style: none;
            }
            .nav li {
                float: left;
            }
            .content {
            position: absolute;
            left: 42.5%;
            top: 10%;
            text-align: center;
            }
    </style>
</head>
<body>
<header>
    <a href="/"><ul class="nav">
        <li><img class="logo"
                 src="/static/img/logo.png"
                 width=50 height=50>
        </li>
        <li><h1>
            orthHost
        </h1></li>
    </ul></a>
</header>
<div class="content">
    <h1>{{ filename }}</h1><br>
    {% if comment %}
        <b>Комментиарий</b><br>
        <p>{{ comment }}</p><br>
    {% endif %}
    <b>Пользователь: {{ username }}</b><br><br>
    <p>Файл скачан {{ downloaded }} раз</p><br><p>Дата добавления файла: {{ date }}</p>
    <a href={{ download_link }}><button class="btn btn-success">Скачать</button></a>
</div>
</body>
</html>