<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>NorthHost - файлообменник</title>
    <style>
body {
width: 100%;
height: 100%;
background: url({{ url_for('static', filename='img/background.jpg') }});
overflow: auto;
color: #000000;
background-size:100% 100%;
background-attachment: fixed;
}



    </style>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <style>
        .reg_login {
            position: absolute;
            top: 50%;
            left: 45%;
        }
    </style>
</head>
<body>
    <div class="reg_login">
        <a class="btn btn-primary" href="/register" role="button">Регистрация</a>
        <a class="btn btn-primary" href="/login" role="button">Вход</a>
    </div>
</body>
</html>