<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NorthHost - Загрузить файл</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>ul.nav{
                margin-left: 0px;
                padding-left: 15%;
                list-style: none;
            }
            .nav li {
                float: left;
            }
    </style>
</head>
<body>
<header>
    <ul class="nav">
        <li><img class="logo"
                 src="/static/img/logo.png"
                 width=50 height=50>
        </li>
        <li><h1>
            orthHost
        </h1></li>
    </ul>
</header>
</body>
</html>