<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NorthHost - Загрузить файл</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>ul.nav{
                margin-left: 0px;
                padding-left: 15%;
                list-style: none;
            }
            .nav li {
                float: left;
            }
            .content {
            position: absolute;
            left: 42.5%;
            top: 10%;
            text-align: center;
            }
            .file_space {
            position: relative;
            left: 30%;
            }
    </style>
</head>
<body>
<header>
    <ul class="nav">
        <li><img class="logo"
                 src="/static/img/logo.png"
                 width=50 height=50>
        </li>
        <li><h1>
            orthHost
        </h1></li>
    </ul>
</header>
<div class="content">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    {% if message %}
    <p class="alert alert-danger" role="alert">[{{ message }}]</p>
    {% endif %}
    <p>
            {{ form.file.label }}
            {{ form.file(class="file_space", type="file", enctype="multipart/form-data", method="post") }}<br>
            {% for error in form.file.errors %}
        <p class="alert alert-danger" role="alert">
            Error: {{ error }}
        </p>
        {% endfor %}
    <p>
            {{ form.comment.label }}<br>
            {{ form.comment(class="form-control", type="text") }}<br>
            {% for error in form.comment.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    <p>
            {{ form.is_private.label }}
            {{ form.is_private() }}<br>
            {% for error in form.is_private.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if link %}
        <p class="alert alert-success" role="alert">
            Файл загружен!
        </p>
        <p class="alert alert-primary" role="alert">
            Ссылка на файл: {{ link }}
        </p>
    {% endif %}
    </form>
</div>
</body>
</html>